<div data-sly-test="${!properties.header}">Double click to Author Tile-Large Component</div>

<div data-sly-test="${properties.header}">
<div class="container-guilt main-div">
<div data-sly-test="${!properties.header}">Double click to Author Tile-Large Component</div>
		<div class="body-div row">
			<div class="col-md-9 col-sm-12 col-12 img-wrapper">
				<a href="${properties.linkURL}.html">
				<img class="imgGridDiv-imgs img1" src="${properties.fileReference}" alt="${properties.altText}"/>
				</a>
			</div>
			<div class="textDiv col-md-3 smHidden">
				<h2 class="textDiv-head"> <div data-sly-test.header="${properties.header}"> ${header} </div>
			</h2>
			<p class="textDiv-par"> <div data-sly-test.desc="${properties.description}"> ${desc} </div> </p>
				<div data-sly-test="${properties.buttonType == 'yellowish'}">
					<button class="textDiv-btn btn btn-default "> <div data-sly-test.buttonTitle="${properties.buttonTitle}"> ${buttonTitle} </div></button>
				</div>
	</div>
</div>
</div>