body{
	margin:0;
	padding:0;
	/*height:200px;
	overflow:auto;
	max-height:1000px;*/
}
.headTop {
    background:#000;
    color: white;
	position:fixed;
    padding: 0px;  
    width: 100%;
	z-index:101;
    top: 0px;
	border-bottom:2px solid #383838;
}
.headTitle h2{
	padding: 8px 0px 0px 10px;
	font-family: serif;
	font-weight:bold;
	font-size:35px;
}
.headSearch{
	padding: 8px 0px 0px 10px;
}
* {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}

.headerAfter{
	margin-top:50px;
}
.main-div{
    /*margin: 0 auto 50px;*/
	margin-bottom:50px;
}

.head-div{
	margin-top:50px;
	border-bottom: 2px solid #e0e0de;
	text-align:center;
}
.searchIcon{
	background:white;
	border:none;     
}
.seachBox{
	border:none;
	font-style:italic;
	font-family: serif;
	font-size:16px;
}
.searchIcon i, .cart i{
	color:#E09D00;
}
.cart{
	padding:10px 0 0 7px;
}
.badge-notify{
   color:white;
   position:relative;
   top: -11px;
   left: -23px;
}
.headlink{
	padding: 12px 10px 0px 0px;
    font-style: italic;
	font-family:serif;
    text-align: right;
    font-size: 16px;             
}
.headRegister{
	padding: 12px 0px 0px 0px;
    font-style: italic;
	font-family:serif;
    text-align: left;
    font-size: 16px;
	border-right:2px solid #383838;
}

.headerNav{
	position:relative;
	top:50px;
	transition: top 0.2s ease-in-out;
	background:#000;
}

.headerNav nav{
	background:#000;
}
.navbar-nav .nav-item  a{
	color: #fff !important;    
}
.navbar-nav .nav-item  a:hover, .navbar-nav .nav-item  a .active{
	border-bottom:2px solid #E09D00;
}
.nav-up {
    top: -40px;
}

.mobMenuBut{
	position: absolute;
    top: -47px;
    left: -12px;
    background: #E09D00;
    z-index: 1;
                
}
.footerBtn
{
	border-radius:6px !important;
	background:#E09D00;
	border:#E09D00;
	width:200px;
}
.footerTxt{
	color:#E09D00;
}
.foot {
	position:fixed;
	background:#1c1c1c;
	color: white;
	font-size:20px;
	font-family:sans-serif;
	padding:15px 15px;
	bottom:0px;
	width:100%;
	display: block;
	opacity: 0.9;        
}
.footerContent{
	text-align:right;
}

/******************/

.body-div{
	/*width: 93%;*/
	/*margin-left: 2%;*/
}

.img-wrapper{
	overflow: hidden;
	display: inline-block;
	padding: 0px !important;
	width: 100%;
}





.img-wrapper .img1, .img-wrapper .img2{

	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
} 

.img-wrapper .img1:hover, .img-wrapper .img2:hover{

   -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

} 

.textDiv{
	padding: 13% 0px 0px 3%;
}

.textDiv-head{
	font-family: Neutraface2TextBook,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1em;
}
.textDiv-par{
	/*font-size: 17px;
    font-style: italic; */
	font-family: Georgia,'Times New Roman',Times,serif;
    font-style: italic;
    transition: color .2s ease-out;
    transition: color .2s ease-out 1s ease-in-out 0s;
    color: #737373;
    font-size: 15px;
    line-height: 1.3em;
    margin: 0;
    padding: 0 5px 10px;
}

.textDiv-btn{
	font-size: 15px;
    line-height: 46px;
    width: 65%;
    background-clip: border-box;
    border-radius: 6px;
    font-family: 'Proxima Nova Semibold','Proxima Nova Regular','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 600;
    background-color: transparent;
    border: none;
    box-sizing: content-box;
    font-weight: 400;
    letter-spacing: .4px;
    overflow: visible;
    padding: 0;
    text-align: center;
    text-decoration: none;
    /* border: #e09d00; */
    color: #e09d00;
    margin-top: 8%;
    border: 1px solid #e09d00;
}

.textDiv-btn:hover{
	transition-delay: initial;
    transition-duration: .1s;
    color: black;
	border: 1px solid black;
    transition-timing-function: ease;
}

.imgGridDiv{
	
   /* margin: 0px 0px 0px 2%;*/
    padding: 0px !important;
    /*width: 97%; */
}

.imgGridDiv-head{
	font-weight: 400;
    /*margin: 55px 0 0 0;*/
    padding: 0;
    text-align: center;
    font-family: Georgia,'Times New Roman',Times,serif;
    font-style: italic;
    color: #9e9e9e;
    font-size: 13px;
    letter-spacing: 0;
	margin-top: 50%;
	}
	
.imgGridDiv-head1{
		font-family: Neutraface2TextBook,'Helvetica Neue',Helvetica,Arial,sans-serif;
		font-weight: 400;
		margin-bottom: 0;
		line-height: 28px;
		font-size:22px;
		letter-spacing: .4px;
		text-align: center;
		margin-top: 15px;
	}
	
.imgGridDiv-imgs{
	width: 100%;
}

 .imgColAlgn{
	padding-left: 0px !important;
	padding-right: 5px !important;
	margin-top:5px;
	/*margin-left: -9px;
    margin-top: 5px; */
} 

.carouselDiv{
	margin-top:5px;
	padding-left: 0px !important;
  /*  margin-left: -35px;
    margin-top: 5px;*/
}
	
.wmnHead{
	font-size: 22px;
    margin: 100px 0 30px;
    font-weight: 400;
	text-align:center;
	color: #383838;
	}	
	
.wmnHeadLink, .wmnHeadLink:hover{
	color: #e09d00;
	text-decoration: none;
}
/*dropDown*/

.drpDown {
    position: relative;
    display: inline-block;
}

.drpDown-content {
    display: none;
    position: absolute;
	top:59px;
    background-color: #f9f9f9;
   margin-left: 0px !important;
   padding:5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	width:100%;
    z-index: 100;
}

.drpDown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.headerNav:hover .drpDown-content {
    display: block;
}

.drpDown-content a:hover {background-color: #f1f1f1}


.foot-ul{
	list-style: none;
    padding: 0;
	font-size: 13px;
}
.foot-ul li a{
	color:white !important;
	line-height: 1.8;
}
.foot-padding0{
	 padding: 0;
}

.foot-li-head{
	margin-bottom: 7px;
    font-size: 15px;
}

.gilt-logo a:hover{
	text-decoration: none;
}

.foot-logo-list{
	font-size: 11px;
}

.foot-padding-left{
	padding-left: 5px;
	padding-right: 0px;
}
footer{
	background-color: black;
    margin-top: 50px;
    color: white;
    padding: 40px 0px 80px 0px;
}
/****/
/*small devices*/
@media(max-width:767px)
{
	.smHidden,.cartTxt{
					display:none;
	}
	.headlink{
					padding: 16px 0px 0px 0px;
	}
	
	.headTitle h2{
					padding: 10px 0px 0px 0px;
	}
	.seachSm{
					padding: 20px 0px 0px 0px;
	}
	.cart{
					padding: 16px 0px 0px 0px;
	}
	.headerNav{
					background:#FFF;
	}

	.headerNav nav{
					background:#FFF;
	}
	.navbar-nav .nav-item  a{
					color: #000 !important;  
	}
	.imgColAlgn {
       padding-right: 5px;
    
	}
	.footerBtn{
					width:120px;
					font-size:12px;
	}
	.foot{
					font-size:12px;
	}
}
/*medium devices*/
@media(min-width:767px)
{
	.mdHidden{
					display:none;
	}
}
@media (min-width: 576px)
{
.container-guilt {
    width: 540px;
    max-width: 100%;
	margin: 0 auto;
	}
}
@media (min-width: 768px)
{
.container-guilt{
    width: 750px;
    max-width: 100%;
	margin: 0 auto;
	}
}
@media (min-width: 992px)
{
.container-guilt {
    width: 960px;
    max-width: 100%;
	margin: 0 auto;
	}
}
@media (min-width: 1200px)
{
.container-guilt {
    width: 1260px;
    max-width: 100%;
	margin: 0 auto;
	}
}
#RuNav nav {
    height: 50px;
    background-color: #171717;
    color: #fff;
    padding: 1rem 1rem;
    text-align: center;
}
#RuNav nav ul {
    margin-top: 0px;
    padding-left: 0rem;
}
#RuNav nav ul li {
    display: inline-block;
    list-style-type: none;
}
#RuNav nav ul li a,
#RuNav .dropbtn {
    display: inline-block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 0rem 2rem;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
}
#RuNav nav ul li a.dropbtn {
    border-bottom: none;
    margin-bottom: 0.5rem;
}
#RuNav nav ul li a.dropbtn:hover{
    border-bottom: solid #E09D00 2px;
}

#RuNav nav ul li a:hover,
#RuNav .dropdown:hover .dropbtn {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}
#RuNav ul li.dropdown {
    display: inline-block;
}
#RuNav .dropdown-content {
    display: none;
    position: fixed;
    left: 0;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #171717;
    font-size: 1.15rem;
    text-align: left;
    margin-top:0px;
}
#RuNav .dropdown-content h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.1;
    color: #171717;
    margin-left: 1rem;
    display: block;
    width: 100%;
}
#RuNav .dropdown-content ul {
    margin-left: 10rem;
}
#RuNav .dropdown-content ul li {
    display: inline-block;
    list-style-type: none;
    width: 18rem;
}
#RuNav .dropdown-content ul li a:hover {
    background-color: #f1f1f1;
}
#RuNav .dropdown-content li:first-child {} #RuNav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    color: #171717;
}
#RuNav .dropdown-content a:hover {
    background-color: #f9f9f9;
    color: #171717;
}
#RuNav .dropdown:hover .dropdown-content {
    display: block;
}

/* Theme selection component*/
#red footer,#red nav{background-color:rgba(255,0,0,0.52);}

#green footer,#green nav{background-color:green;}
