<sly data-sly-use.header="com.darwin.core.models.HeaderMultifieldModel">
<sly data-sly-test="${!header.getDataSet}">Double click to author HeaderMultifield Component</sly>

<sly data-sly-test="${header.getDataSet}">
<div id="RuNav">
        <div class="">
            <nav>
                <ul><sly data-sly-list.keyName="${header.getDataSet}">
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">${keyName}</a>
                        <div class="dropdown-content">
                            <h1>${keyName}</h1>
                            <ul>
                            <li>
								<sly data-sly-list.key="${header.getDataSet[keyName]}">
                                <a href="${key.url}.html">${key.subHeader}</a>
								</sly>					 
                                </li>
                            </ul>
                        </div>
                    </li>
				</ul>
            </nav>
        </div>
    </div>
</sly>
</sly>	
</sly>