<sly data-sly-use.header="com.darwin.components.HeaderComponent">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">${header.parentPageTitle}</a>
        </div>
        <ul class="nav navbar-nav">
        	<!--/* Added context to 'unsafe' because @context 'html' is removing data attributes from DOM elements */-->
            ${header.navigationHTML @context = 'unsafe'}
        </ul>
        <ul class="nav navbar-nav navbar-right">
        	<sly data-sly-test.additionalLangs="${header.supportedLanguages.availableLanguages}">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"> ${header.supportedLanguages.currentLanguage.title}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <sly data-sly-list= "${header.supportedLanguages.availableLanguages}">
                            <li><a href="${item.link}">${item.title}</a></li>
                        </sly>
                    </ul>
                </li>
            </sly>
            <sly data-sly-test=${!additionalLangs}>
            	<li><a href="#">${header.supportedLanguages.currentLanguage.title}</li>
            </sly>
        </ul>
      </div>
    </nav>
</sly>
