<sly data-sly-use.footer="com.darwin.core.models.FooterMultifieldModel">
<sly data-sly-test="${!footer.getDataSet}">Double click to author FooterMultifield Component</sly>

<sly data-sly-test="${footer.getDataSet}">
	<footer>
    <div class="container-fluid">
        <div class="row">
			<div class="col-md-3">

			</div>
				<div class="col-md-7">
					<div class="row">
					<div class="col-md-3 foot-gilt-logo foot-padding0">
						<ul class="foot-ul">
							<li class="gilt-logo"> <a href="#"> <h2> 
							<sly data-sly-test.logo="${properties.logoText}">${logo}</sly>
                            </h2> </a> </li>
							<li class="foot-logo-list"> 
								<div> <sly data-sly-test.copyright="${properties.copyright}">${copyright}</sly></div>
							</li>
						</ul>
					</div>
					<sly data-sly-list.keyName="${footer.getDataSet}">
					<div class="col-md-2 foot-padding0">
						<ul class="foot-ul">
							<li class="foot-li-head"> ${keyName} </li>
							<sly data-sly-list.key="${footer.getDataSet[keyName]}">
								<li class="foot-li-links"> <a href="${key.url}.html"> ${key.subFooter} </a> </li>
							</sly>
						</ul>
					</div>
				</div>
			</div>
        </div>
        
    </div>
	</footer>
	</sly>
</sly>
</sly>